<div id="footer" class="clearfix">

            <div id="footer_img">
            </div>

            <div class="container containerRodape">

                <p id="follow_us">


                </p>

                <p id="footer_nav">
                    CMP Móveis - Pangnoceli e Filho © 2013 <br />
                    <a href="index.php">Inicial</a> |
                    <a href="sobre.php">Empresa</a> |
                    <a href="galeria.php">Galeria</a> |
					<a href="localizacao.php">Localização</a> |
                    <a href="contato.php">Contato</a>
                </p>
            </div>
        </div>

    </body>
</html>

</html>
