<!DOCTYPE HTML >
<html>
    <head>
        <title>CMP Móveis - Pagnocelli e Filho</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta content="marcenaria moveis pagnocelli moveis pato branco" name="description">
		<link rel="shortcut icon" type="image/ico" href="../favicon.png" />
        <link href="../css/geral.css" media="screen" rel="stylesheet" type="text/css">
		<link href="../css/themes/bar/bar.css" media="screen" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/scripts.js"></script>

    </head>


    <body id="home">

        <div id="masthead" class="container">
		<a href="../view/index.html"><img alt="CMP Móveis - Pagnocelli e Filho Pato Branco" id="logo" src="../images/cmp-moveis.png"></a>    
	
		<ul id="global_nav"> 
			<li><a href="index.html">Inicial</a></li>
			<li><a href="sobre.html">Empresa</a></li>
			<li><a href="galeria.html">Galeria</a></li>
			<li><a href="localizacao.html">Localização</a></li>
			<li><a href="contato.html">Contato</a></li>
		</ul>

        <div class="intro">
            <h1><span>CMP - Móveis</span></h1>

            <p>
                Confira nossa galeria de projetos, entre em contato conosco e agende uma visita. Não perca Tempo!
            </p>

            <p><a href="galeria.html"><img alt="Confira nossa Galeria" src="../images/confiraColecao.png"></a></p>
        </div>

        <div id="slide-holder" class="slider-wrapper theme-bar">

            <div id="slide"> 
                <a href="produtos.html"><img src="../images/slider1.png" class="slide" alt="#" title=""/></a>
				<a href="produtos.html"><img src="../images/slider2.png" class="slide" alt="#" title=""/></a>
				<a href="produtos.html"><img src="../images/slider3.png" class="slide" alt="#" title=""/></a>
				<a href="produtos.html"><img src="../images/slider4.png" class="slide" alt="#" title=""/></a>
            </div>

        </div>

    </div>

    <div class="container">

        <ul id="categories">
            <li id="imagemMarca1"><a href="galeria.html?id=1"></a></li>
            <li id="imagemMarca2"><a href="galeria.html?id=2"></a></li>
            <li id="imagemMarca3" class="last"><a href="galeria.html?id=3"></a></li>
        </ul>

        <hr class="space">

    </div>

    <div class="container">
        <div id="callouts">

            <div class="item" id="garantia">
                <h3>Garantia</h3>
                <p>Nossa loja virtual oferece uma seleta coleção
                    da mais alta classe de óculos, as melhores marcas.
                    Sabendo disso optamos por oferecer ao cliente a melhor
                    garantia do mercado. Nossos produtos tem garantia de 3 anos.</p>
            </div>

            <div class="item" id="txProdutos">
                <h3>Produtos</h3>
                <p>Sabemos que nem todas as pessoas tem a possíbilidade
                    de fazer a compra de um produto importado, pensando
                    nisso resolvemos disponibilizar os melhores produtos
                    e as marcas mais famosas do mundo aqui.</p>
            </div>

            <div class="item last" id="precosbaixos">
                <h3>Os preços mais baixos</h3>
                <p>Como? Tendo em vista que a maioria das nossas marcas
                    disponíveis são marcas importadas, nos certificamos
                    importar o produto direto do fabricante deixando assim
                    os produtos com as menores taxas possíveis.</p>
            </div>

        </div>

    </div>

   

    <script type="text/javascript">
    $(document).ready(function(){

        $('head').append('<script type="text/javascript" src="../js/jquery.nivo.slider.pack.js"><\/script>');
        $('head').append('<link rel="stylesheet" href="../css/nivo-slider.css" type="text/css" media="screen" />');
        $('head').append('<script type="text/javascript">$(document).ready(function(){$(\'#slide\').nivoSlider({effect:\'random\',directionNav:false,directionNavHide:false,controlNav:true,controlNavThumbs:false,controlNavThumbsFromRel:false});});<\/script>');
    });

    </script>

<div id="footer" class="clearfix">

            <div id="footer_img">
            </div>

            <div class="container containerRodape">

                <p id="follow_us">


                </p>

                <p id="footer_nav">
                    CMP Móveis - Pangnoceli e Filho © 2013 <br />
                    <a href="index.html">Inicial</a> |
                    <a href="sobre.html">Empresa</a> |
                    <a href="galeria.html">Galeria</a> |
					<a href="localizacao.html">Localização</a> |
                    <a href="contato.html">Contato</a>
                </p>
            </div>
        </div>

    </body>
</html>

</html>


