<!DOCTYPE HTML>
<html>
    <head>
        <title>CMP Móveis - Pagnocelli e Filho</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta content="marcenaria moveis pagnocelli moveis pato branco" name="description">
		<link rel="shortcut icon" type="image/ico" href="../favicon.png" />

        <link href="../css/geral.css" media="screen" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="../js/jquery-1.4.4.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true&amp;language=pt-BR" type="text/javascript"></script>
        <script type="text/javascript" src="../js/localizacao.js"></script>

    </head>

    <body class="static-pages">

        <div id="masthead" class="container">
		<a href="../view/index.html"><img alt="CMP Móveis - Pagnocelli e Filho Pato Branco" id="logo" src="../images/cmp-moveis.png"></a>    
	
		<ul id="global_nav"> 
			<li><a href="index.html">Inicial</a></li>
			<li><a href="sobre.html">Empresa</a></li>
			<li><a href="galeria.html">Galeria</a></li>
			<li><a href="localizacao.html">Localização</a></li>
			<li><a href="contato.html">Contato</a></li>
		</ul>

        </div>
        <div id="page"><div class="inner">
                <div class="contents clearfix">

                    <div id="comochegar">
                    <h2>Como chegar?</h2>
                    <p>Digite o seu endereço(Ex.: Rua sua rua, 72 sua cidade):</p>
                    <input type="text" name="suaCidade" id="suaCidade" value="" maxlength="100" size="60"/>
                    <input type="button" id="tracarRota" value="TRA&Ccedil;AR ROTA"/>
                </div>

                <div id="mapa_evento"></div>
                <div id="rota_evento"></div>

                </div>
                <div class="bottom"></div>
            </div></div>

        <div class="container">

        </div>

<div id="footer" class="clearfix">

            <div id="footer_img">
            </div>

            <div class="container containerRodape">

                <p id="follow_us">


                </p>

                <p id="footer_nav">
                    CMP Móveis - Pangnoceli e Filho © 2013 <br />
                    <a href="index.html">Inicial</a> |
                    <a href="sobre.html">Empresa</a> |
                    <a href="galeria.html">Galeria</a> |
					<a href="localizacao.html">Localização</a> |
                    <a href="contato.html">Contato</a>
                </p>
            </div>
        </div>

    </body>
</html>

</html>

    